<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%>></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navegation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos provident debitis facilis tenetur mollitia quae magni temporibus, deserunt eveniet dolorem, at suscipit consequatur maiores aut praesentium obcaecati sint molestias similique officia tempora? Explicabo quod eius eveniet possimus vitae veritatis neque? Ipsa numquam similique ad nisi id, dolor tempore sequi exercitationem sapiente accusamus! Accusamus distinctio recusandae, aspernatur optio facilis cumque eius repellat repellendus maiores tempore! Necessitatibus quaerat saepe quidem, voluptatum nesciunt cumque hic adipisci molestiae in facilis ipsum veniam amet dolor commodi provident similique pariatur quisquam temporibus? Molestiae, quia sequi! Cum fugit officiis impedit nam labore! Consequatur magni cumque aperiam, nam cum aspernatur corporis beatae dolorem distinctio ut laudantium incidunt neque eligendi accusantium itaque quidem placeat dicta aliquam tenetur cupiditate tempora aliquid explicabo saepe? Pariatur molestiae laborum eaque placeat adipisci iusto quas repellat eum ipsum nulla assumenda magnam labore cumque ratione, nihil tempora, minima nesciunt eligendi voluptatibus. Nihil corporis sed, exercitationem odit qui recusandae est inventore minima voluptates! Vitae possimus corrupti doloremque excepturi? Eveniet nesciunt voluptates minima soluta inventore praesentium dolor maxime aliquid officiis, ut sequi nisi quae a rerum fugit esse porro. Sit, facere. Iure sed voluptate omnis, hic animi quam nostrum. Repellendus velit quod accusantium itaque fuga sit cumque.</p>
        </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
